.sign-header{
    display: grid;
    grid-template-columns: 0.2fr 0.8fr 1fr 0.5fr 0.5fr;
    align-items: center;
    justify-items: center;
    /* background: red; */
    box-shadow: 0px 1px 14px #666666;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    
}
#header-name>div{
    
    /* justify-items: start; */
    /* margin-left:0px; */
}
#sign-logo{
    right: 0;
    background:transparent;
    text-decoration: none;
    text-decoration-style: none;
    outline: none;
    
}
#test{
background-color: transparent;
text-decoration: none;
text-decoration-style: none;
outline: none;
}

#test.active{
    background-color: transparent;
text-decoration: none;
text-decoration-style: none;
outline: none;
}