.contact-us-page{
    display: grid;
    grid-template-rows: .1fr .1fr .8fr;
    grid-row-gap: .5%;
    width:100%;
    height:-webkit-fill-available;
    background-color:rgb(17, 15, 15);
    color:white;
    overflow: hidden;
    margin: 0px;
}
.contact-us-body{
    display:grid;
    grid-template-columns: .5fr .5fr;
    border: 1px solid black; 
    box-shadow: 0px 1px 14px #666666;        
}
.contact-us-head{
    text-align:center;
}
.left-body{
    display: grid;
    grid-template-rows: .2fr .2fr .2fr .3fr .1fr;
    margin:5% 5%;
}
.send-button{
    width:auto;
    height:auto;
}
.right-body{
    display:grid;
    grid-template-columns: .25fr .75fr;
    margin: 5% 5%;
}
.social-site{
    display:grid;
    grid-template-rows: .25fr .25fr .25fr .25fr;
}
#fb{
    display:block;
    object-fit:cover;
    width:50%;
    margin:auto;
}
#twit{
    display:block;
    object-fit:cover;
    width:50%;
    margin:auto;
}
#lin{
    display:block;
    object-fit:cover;
    width:50%;
    margin:auto;
}

#goog{
    display:block;
    object-fit:cover;
    width:50%;
    margin:auto;
}
